.main-app-screen {
  background: linear-gradient(135deg,
      #d1fae5 0%,
      #a7f3d0 25%,
      #6ee7b7 50%,
      #34d399 75%,
      #10b981 100%);
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Scrollbar- Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: #123524;
  border-radius: 50px;
  border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 6px;
}

/* Scrollbar- Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #123524 #f0f0f0;
}